<div class="mb-2">
  <button type="button" class="btn btn-primary" (click)="loadUsers()">Load users</button>
</div>

<div>
  <div class="d-flex flex-row">
    <div class="border p-2">
        <button class="btn btn-secondary mr-5" *ngFor="let item of userList" (click)="deleteUser(item)">
          (x) {{ item.name }}
        </button>
    </div>
    <div class="border p-2">
      <button class="ml-5 btn btn-link" (click)="userSearch()">
        Search Users
      </button>
    </div>
  </div>
</div>
