<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Workshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="active" [routerLink]="[routePath.home]">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="active" [routerLink]="[routePath.products]">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="active" [routerLink]="[routePath.settings]">Settings</a>
        </li>
      </ul>
      <h4 class="navbar-text">Angular Power</h4>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
