<div class="d-flex justify-content-end">
  <div class="p-2">
    <ng-container *ngTemplateOutlet="removeParentTmp || removeTmp">
    </ng-container>
  </div>
  <div class="p-2">
    <ng-container *ngTemplateOutlet="cancelParentTmp || cancelTmp">
    </ng-container>
  </div>
  <div class="p-2">
    <ng-container *ngTemplateOutlet="saveParentTmp || saveTmp">
    </ng-container>
  </div>
</div>
<ng-template #removeTmp>
  <button *ngIf="removeEnabled && onRemove.observed"
          (click)="remove()"
          type="button"
          class="btn btn-danger">{{ removeTitle }}</button>
</ng-template>
<ng-template #cancelTmp>
  <button *ngIf="cancelEnabled && onCancel.observed"
          (click)="cancel()"
          type="button"
          class="btn btn-warning">{{ cancelTitle }}</button>
</ng-template>
<ng-template #saveTmp>
  <button *ngIf="saveEnabled && onSave.observed"
          (click)="save()"
          type="button"
          class="btn btn-success">{{ saveTitle }}</button>
  <!--
  <button *ngIf="!onSave.observed"
          type="submit"
          class="btn btn-success">{{ saveTitle }}</button>
  -->
</ng-template>
