<div *ngIf="loadingProp; else contentBlock" class="d-flex justify-content-center">
  <div class="spinner-border p-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-template #contentBlock>
    <!--
    <ng-content *ngIf="!useProvider">
    </ng-content>
    -->
    <form *ngIf="useProvider" [formGroup]="formGroupProp" (ngSubmit)="save()">
      <ng-content>
      </ng-content>
      <!--<ng-container *ngTemplateOutlet="formContent?.templateRef || defaultContent; context: { $implicit: formGroupProp }"></ng-container>-->
      <ng-container *ngIf="useProvider">
        <ng-container *ngTemplateOutlet="pageFooter?.templateRef || defaultFooter;"></ng-container>
      </ng-container>
    </form>
</ng-template>

<ng-template #defaultFooter>
  <app-edit-page-footer [saveTitle]="saveTitle"
                        [removeTitle]="removeTitle"
                        [cancelTitle]="cancelTitle"
                        [removeEnabled]="editModeProp"
                        (onRemove)="remove()"
                        (onCancel)="cancel()">
  </app-edit-page-footer>
</ng-template>
<ng-template #defaultContent>
  <p>
    <b>It looks like you trying to use "userProvider" feature</b>
  </p>
  <p>
    Use the '...ng-template let-formGroup...' for getting content.
  </p>
</ng-template>
